---
layout: page
title: Sponsorizzazioni
---

<h1 class="mb-3">{{ page.title }}</h1>

<img src="business.png" class="float-right">

<p>Le aziende, di ogni forma e dimensione, che lavorano con Linux e con software libero e opensource possono diventare <strong>sponsor di Italian Linux Society</strong> per godere di maggiore visibilità nei confronti dell'ampio pubblico cui l'associazione si rivolge, composto sia da potenziali clienti sensibili al tema che da nuovi collaboratori.</p>

<p>Cosa offre ILS:</p>

<ul>
    <li>pubblicazione del <strong>logo</strong> nella <a href="/info#aderenti">pagina dei sostenitori dell'associazione</a> e a rotazione nel footer di tutti i siti del network ILS (<a href="https://www.linux.it/">linux.it</a>, <a href="https://www.linuxday.it/">linuxday.it</a>, <a href="https://www.ils.org/">ils.org</a> e molti altri, per un totale di circa 1000 visitatori al giorno)</li>
    <li><strong>visibilità privilegiata</strong> nelle pagine web dedicate ai fornitori di soluzioni libere e open source (<a href="https://scuola.linux.it/fornitori">scuola.linux.it/fornitori</a>)</li>
    <li>possibilità di veicolare due <strong>annunci di lavoro</strong> all'anno per mezzo della newsletter (~4500 iscritti) e dei canali social (~6000 follower tra Facebook e Twitter)</li>
    <li>rubrica dedicata nella newsletter periodica (~4500 iscritti) in cui pubblicare i <strong>casi di successo</strong> o le offerte commerciali delle aziende aderenti</li>
    <li><strong>invito</strong> in anteprima alle iniziative organizzate e promosse da ILS (<a href="https://www.linuxday.it/">Linux Day</a>, <a href="https://merge-it.net/">MERGE-it</a>)</li>
</ul>

<p>La quota di sponsorizzazione ad Italian Linux Society è di <strong>500 euro/anno</strong> + IVA ed è valida per un anno. Viene emessa fattura elettronica di sponsorizzazione e relativo contratto: puoi chiedere al tuo commercialista sulla possibilità di <strong>detrarre dalle tasse</strong> questa spesa.</p>
<p>I fondi raccolti in questo modo saranno destinati alle periodiche <a href="http://donazioni.linux.it/">campagne di sostegno</a> alla produzione di software libero, alla produzione e distribuzione di materiale divulgativo sul software libero, alle occasionali spese sostenute dalle <a href="/sezionilocali">Sezioni Locali ILS</a> per le proprie attività di divulgazione sul territorio, e ad iniziative rivolte alla promozione delle soluzioni open source.</p>
<p>Per aderire, o per avere maggiori informazioni su questa opportunità, <strong>scrivici all'indirizzo <a href="mailto:ils-cd@linux.it">ils-cd@linux.it</a></strong>.</p>
