---
layout: page
title: Sezioni Locali
---

<h1 class="mb-3">{{ page.title }}</h1>

<img src="https://www.linux.it/shared/?f=immagini/sezionelocale.png" class="float-right">

<p>Le <strong>Sezioni Locali</strong> sono gruppi operativi sul territorio, informalmente organizzati all'interno dell'associazione Italian Linux Society. Lo scopo è quello di fornire gli strumenti burocratici, fiscali ed amministrativi per permettere ai volontari locali di relazionarsi con le proprie istituzioni ed ottenere spazi, sponsorizzazioni ed autorizzazioni, pur senza l'onere di dover mantenere una propria associazione.</p>
<p>L'iniziativa è rivolta sia a Linux Users Groups esistenti - in particolare quelli che già non si sono costituiti come associazioni - sia a nuovi gruppi di appassionati che vorrebbero strutturare l'attività di divulgazione e promozione di Linux e del software libero nella propria città.</p>
<p>Sezioni Locali attualmente attive:</p>
<ul>
    {% for localsection in site.localsections %}
        <li><a href="/sezionilocali/{{ localsection.city }}">{{ localsection.label }}</a></li>
    {% endfor %}
</ul>

<hr>

<p>Di seguito le Linee Guida che definiscono costituzione, scioglimento ed operatività delle Sezioni Locali ILS.</p>
<p>Per istituire una nuova Sezione Locale è necessaria la richiesta di almeno <strong>3 soci ILS</strong> al Consiglio Direttivo. Ogni socio ILS può affiliarsi o revocare l'affiliazione a ciascuna Sezione Locale. Nel caso in cui i soci afferenti ad una Sezione Locale scendano sotto il numero di 3, la stessa è sciolta e le risorse ad essa assegnate entrano nella disponibilità generale di ILS.</p>
<p>Ogni nuova Sezione ha un <strong>nome legato alla città di riferimento</strong>, e.g. ILS Roma, ILS Milano, ILS Voghera.</p>
<p>Ogni Sezione Locale ha un <strong>referente</strong> nominato da ILS dando priorità alle preferenze dei soci aderenti. I soci di una Sezione Locale possono in qualsiasi momento avanzare richiesta per modificare il proprio "organigramma" interno. Il referente può avere delega per le attività di ordinaria amministrazione (e.g. autorizzazioni e concessioni da parte degli enti locali) ma non può in ogni caso assumere impegni di natura economica. La delega si intende revocata all'elezione o nomina di un diverso referente.</p>
<p>Ogni Sezione Locale ha una sua propria <strong>cassa</strong> gestita internamente a ILS, che ne determina le disponibilità economica. In tale cassa confluiscono le donazioni e le sponsorizzazioni destinate alla Sezione Locale, ed il 40% delle quote annuali di iscrizione dei soci ILS afferenti. A cadenza annuale i fondi assegnati alle Sezioni Locali ma non spesi vengono ridotti del 50% per evitare accumuli e sprechi, e rientrano nella disponibilità di ILS. Il Consiglio Direttivo ILS può comunque destinare fondi e risorse addizionali, oltre la disponibilità contabile e <strong>fino a 1000 euro all'anno</strong>, alle Sezioni che presentino progetti specifici e congrui con le finalità dell'associazione, in un'ottica di mutua assistenza.</p>
<p>Ogni Sezione Locale può chiedere di <strong>veicolare annunci</strong> (fino a 4 all'anno) via email agli iscritti alla newsletter ILS che hanno specificato interesse per la provincia in cui si trova la Sezione stessa (i numeri variano molto da provincia a provincia).</p>
<p>Le Sezioni Locali sono invitate a sottoporre un <strong>report semestrale</strong> delle attività svolte nel loro territorio (corsi, incontri tematici, assistenza alle scuole, rapporti con le istituzioni locali...), nonché a comunicare con sufficiente anticipo attività future che possano essere riportate sulla <a href="/newsletter">newsletter periodica di ILS</a>. La Sezione Locale decade a seguito di due anni senza alcuna attività svolta (incluso il <a href="http://www.linuxday.it/">Linux Day</a>).</p>
<p>Ogni Sezione Locale ha una sua propria pagina web sul sito <a href="/">www.ils.org</a> e può richiedere una istanza Wordpress sotto il dominio <strong>città.ils.org</strong> da gestire autonomamente per pubblicare contatti, news o altro.</p>

<a class="cta-button" href="/iscrizione">Iscriviti a Italian Linux Society e crea una Sezione Locale nella tua città (o aderisci ad una esistente)</a>
